<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>base</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <false/>
      </dict>
    </dict>
  </dict>
  <key>com.typemytype.robofont.italicSlantOffset</key>
  <real>-53</real>
  <key>com.fontlab.masterFilename</key>
  <string>CSLSans-SemiBoldItalic</string>
  <key>com.typemytype.robofont.italicSlantOffset</key>
  <integer>-53</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>A</string>
    <string>AE</string>
    <string>AEacute</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Alpha</string>
    <string>Alphatonos</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Aringacute</string>
    <string>Atilde</string>
    <string>B</string>
    <string>Beta</string>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>Chi</string>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Delta</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eng</string>
    <string>Eogonek</string>
    <string>Epsilon</string>
    <string>Epsilontonos</string>
    <string>Eta</string>
    <string>Etatonos</string>
    <string>Eth</string>
    <string>Euro</string>
    <string>F</string>
    <string>G</string>
    <string>Gamma</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gdotaccent</string>
    <string>H</string>
    <string>Hbar</string>
    <string>Hcircumflex</string>
    <string>I</string>
    <string>IJ</string>
    <string>Iacute</string>
    <string>Ibreve</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Iota</string>
    <string>Iotadieresis</string>
    <string>Iotatonos</string>
    <string>Itilde</string>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>K</string>
    <string>Kappa</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lambda</string>
    <string>Lcaron</string>
    <string>Ldot</string>
    <string>Lslash</string>
    <string>M</string>
    <string>Mu</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ntilde</string>
    <string>Nu</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohorn</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Omega</string>
    <string>Omegatonos</string>
    <string>Omicron</string>
    <string>Omicrontonos</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>Otilde</string>
    <string>P</string>
    <string>Phi</string>
    <string>Pi</string>
    <string>Psi</string>
    <string>Q</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rho</string>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Sigma</string>
    <string>T</string>
    <string>Tau</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Theta</string>
    <string>Thorn</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhorn</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Upsilon</string>
    <string>Upsilondieresis</string>
    <string>Upsilontonos</string>
    <string>Uring</string>
    <string>Utilde</string>
    <string>V</string>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
    <string>X</string>
    <string>Xi</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>Zeta</string>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>acute</string>
    <string>acutecomb</string>
    <string>adieresis</string>
    <string>ae</string>
    <string>aeacute</string>
    <string>agrave</string>
    <string>alpha</string>
    <string>alphatonos</string>
    <string>amacron</string>
    <string>ampersand</string>
    <string>anoteleia</string>
    <string>aogonek</string>
    <string>approxequal</string>
    <string>aring</string>
    <string>aringacute</string>
    <string>arrowboth</string>
    <string>arrowdown</string>
    <string>arrowleft</string>
    <string>arrowright</string>
    <string>arrowup</string>
    <string>arrowupdn</string>
    <string>asciicircum</string>
    <string>asciitilde</string>
    <string>asterisk</string>
    <string>at</string>
    <string>atilde</string>
    <string>b</string>
    <string>backslash</string>
    <string>bar</string>
    <string>beta</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>breve</string>
    <string>brokenbar</string>
    <string>bullet</string>
    <string>c</string>
    <string>cacute</string>
    <string>caron</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>cedilla</string>
    <string>cent</string>
    <string>chi</string>
    <string>circumflex</string>
    <string>colon</string>
    <string>colonmonetary</string>
    <string>comma</string>
    <string>copyright</string>
    <string>d</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>degree</string>
    <string>delta</string>
    <string>dieresis</string>
    <string>dieresistonos</string>
    <string>divide</string>
    <string>dollar</string>
    <string>dong</string>
    <string>dotaccent</string>
    <string>dotbelowcomb</string>
    <string>dotlessi</string>
    <string>e</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>eight</string>
    <string>eight.subs</string>
    <string>eight.sups</string>
    <string>ellipsis</string>
    <string>emacron</string>
    <string>emdash</string>
    <string>endash</string>
    <string>eng</string>
    <string>eogonek</string>
    <string>epsilon</string>
    <string>epsilontonos</string>
    <string>equal</string>
    <string>estimated</string>
    <string>eta</string>
    <string>etatonos</string>
    <string>eth</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>f</string>
    <string>five</string>
    <string>five.subs</string>
    <string>five.sups</string>
    <string>fiveeighths</string>
    <string>florin</string>
    <string>four</string>
    <string>four.subs</string>
    <string>four.sups</string>
    <string>fraction</string>
    <string>g</string>
    <string>gamma</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gdotaccent</string>
    <string>germandbls</string>
    <string>grave</string>
    <string>gravecomb</string>
    <string>greater</string>
    <string>greaterequal</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>h</string>
    <string>hbar</string>
    <string>hcircumflex</string>
    <string>hookabovecomb</string>
    <string>hungarumlaut</string>
    <string>hyphen</string>
    <string>i</string>
    <string>i.loclTRK</string>
    <string>iacute</string>
    <string>ibreve</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>ij</string>
    <string>imacron</string>
    <string>infinity</string>
    <string>integral</string>
    <string>iogonek</string>
    <string>iota</string>
    <string>iotadieresis</string>
    <string>iotadieresistonos</string>
    <string>iotatonos</string>
    <string>itilde</string>
    <string>j</string>
    <string>jcircumflex</string>
    <string>k</string>
    <string>kappa</string>
    <string>kgreenlandic</string>
    <string>l</string>
    <string>lacute</string>
    <string>lambda</string>
    <string>lcaron</string>
    <string>ldot</string>
    <string>less</string>
    <string>lessequal</string>
    <string>lira</string>
    <string>logicalnot</string>
    <string>lozenge</string>
    <string>lslash</string>
    <string>m</string>
    <string>macron</string>
    <string>minus</string>
    <string>mu</string>
    <string>multiply</string>
    <string>n</string>
    <string>nacute</string>
    <string>napostrophe</string>
    <string>ncaron</string>
    <string>nine</string>
    <string>nine.subs</string>
    <string>nine.sups</string>
    <string>notequal</string>
    <string>ntilde</string>
    <string>nu</string>
    <string>numbersign</string>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ogonek</string>
    <string>ograve</string>
    <string>ohorn</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>omega</string>
    <string>omegatonos</string>
    <string>omicron</string>
    <string>omicrontonos</string>
    <string>one</string>
    <string>one.subs</string>
    <string>one.sups</string>
    <string>oneeighth</string>
    <string>onehalf</string>
    <string>onequarter</string>
    <string>onethird</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>oslash</string>
    <string>oslashacute</string>
    <string>otilde</string>
    <string>p</string>
    <string>paragraph</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>partialdiff</string>
    <string>percent</string>
    <string>period</string>
    <string>periodcentered</string>
    <string>perthousand</string>
    <string>phi</string>
    <string>pi</string>
    <string>plus</string>
    <string>plusminus</string>
    <string>product</string>
    <string>psi</string>
    <string>q</string>
    <string>question</string>
    <string>questiondown</string>
    <string>quotedbl</string>
    <string>quotedblbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotesingle</string>
    <string>r</string>
    <string>racute</string>
    <string>radical</string>
    <string>rcaron</string>
    <string>registered</string>
    <string>rho</string>
    <string>ring</string>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>section</string>
    <string>semicolon</string>
    <string>seven</string>
    <string>seven.subs</string>
    <string>seven.sups</string>
    <string>seveneighths</string>
    <string>sigma</string>
    <string>sigmafinal</string>
    <string>six</string>
    <string>six.subs</string>
    <string>six.sups</string>
    <string>slash</string>
    <string>space</string>
    <string>sterling</string>
    <string>summation</string>
    <string>t</string>
    <string>tau</string>
    <string>tbar</string>
    <string>tcaron</string>
    <string>theta</string>
    <string>thorn</string>
    <string>three</string>
    <string>three.subs</string>
    <string>three.sups</string>
    <string>threeeighths</string>
    <string>threequarters</string>
    <string>tilde</string>
    <string>tildecomb</string>
    <string>tonos</string>
    <string>trademark</string>
    <string>two</string>
    <string>two.subs</string>
    <string>two.sups</string>
    <string>twothirds</string>
    <string>u</string>
    <string>nbspace</string>
    <string>softhyphen</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>onesuperior</string>
    <string>Gcommaaccent</string>
    <string>gcommaaccent</string>
    <string>Kcommaaccent</string>
    <string>kcommaaccent</string>
    <string>Lcommaaccent</string>
    <string>lcommaaccent</string>
    <string>Ncommaaccent</string>
    <string>ncommaaccent</string>
    <string>Rcommaaccent</string>
    <string>rcommaaccent</string>
    <string>Tcedilla</string>
    <string>tcedilla</string>
    <string>Schwa</string>
    <string>Scommaaccent</string>
    <string>scommaaccent</string>
    <string>Tcommaaccent</string>
    <string>tcommaaccent</string>
    <string>dotlessj</string>
    <string>schwa</string>
    <string>commaturnedmod</string>
    <string>apostrophemod</string>
    <string>circumflexcomb</string>
    <string>macroncomb</string>
    <string>brevecomb</string>
    <string>dotaccentcomb</string>
    <string>dieresiscomb</string>
    <string>ringcomb</string>
    <string>hungarumlautcomb</string>
    <string>caroncomb</string>
    <string>commaturnedabovecomb</string>
    <string>commaaboverightcomb</string>
    <string>horncomb</string>
    <string>commaaccentcomb</string>
    <string>cedillacomb</string>
    <string>ogonekcomb</string>
    <string>questiongreek</string>
    <string>u0394</string>
    <string>u03A9</string>
    <string>u03BC</string>
    <string>Iegravecyr</string>
    <string>Iocyr</string>
    <string>Djecyr</string>
    <string>Gjecyr</string>
    <string>Eukrcyr</string>
    <string>Dzecyr</string>
    <string>Iukrcyr</string>
    <string>Yukrcyr</string>
    <string>Jecyr</string>
    <string>Ljecyr</string>
    <string>Njecyr</string>
    <string>Tshecyr</string>
    <string>Kjecyr</string>
    <string>Igravecyr</string>
    <string>Ushortcyr</string>
    <string>Dzhecyr</string>
    <string>Acyr</string>
    <string>Becyr</string>
    <string>Vecyr</string>
    <string>Gecyr</string>
    <string>Decyr</string>
    <string>Iecyr</string>
    <string>Zhecyr</string>
    <string>Zecyr</string>
    <string>Icyr</string>
    <string>Ishortcyr</string>
    <string>Kacyr</string>
    <string>Elcyr</string>
    <string>Emcyr</string>
    <string>Encyr</string>
    <string>Ocyr</string>
    <string>Pecyr</string>
    <string>Ercyr</string>
    <string>Escyr</string>
    <string>Tecyr</string>
    <string>Ucyr</string>
    <string>Efcyr</string>
    <string>Hacyr</string>
    <string>Tsecyr</string>
    <string>Checyr</string>
    <string>Shacyr</string>
    <string>Shchacyr</string>
    <string>Hardcyr</string>
    <string>Ylongcyr</string>
    <string>Softcyr</string>
    <string>Ereversedcyr</string>
    <string>Yucyr</string>
    <string>Yacyr</string>
    <string>acyr</string>
    <string>becyr</string>
    <string>vecyr</string>
    <string>gecyr</string>
    <string>decyr</string>
    <string>iecyr</string>
    <string>zhecyr</string>
    <string>zecyr</string>
    <string>icyr</string>
    <string>ishortcyr</string>
    <string>kacyr</string>
    <string>elcyr</string>
    <string>emcyr</string>
    <string>encyr</string>
    <string>ocyr</string>
    <string>pecyr</string>
    <string>ercyr</string>
    <string>escyr</string>
    <string>tecyr</string>
    <string>ucyr</string>
    <string>efcyr</string>
    <string>hacyr</string>
    <string>tsecyr</string>
    <string>checyr</string>
    <string>shacyr</string>
    <string>shchacyr</string>
    <string>hardcyr</string>
    <string>ylongcyr</string>
    <string>softcyr</string>
    <string>ereversedcyr</string>
    <string>yucyr</string>
    <string>yacyr</string>
    <string>iegravecyr</string>
    <string>iocyr</string>
    <string>djecyr</string>
    <string>gjecyr</string>
    <string>eukrcyr</string>
    <string>dzecyr</string>
    <string>iukrcyr</string>
    <string>yukrcyr</string>
    <string>jecyr</string>
    <string>ljecyr</string>
    <string>njecyr</string>
    <string>tshecyr</string>
    <string>kjecyr</string>
    <string>igravecyr</string>
    <string>ushortcyr</string>
    <string>dzhecyr</string>
    <string>Fitacyr</string>
    <string>fitacyr</string>
    <string>Geupcyr</string>
    <string>geupcyr</string>
    <string>Gestrokecyr</string>
    <string>gestrokecyr</string>
    <string>Gehookcyr</string>
    <string>gehookcyr</string>
    <string>Zhetailcyr</string>
    <string>zhetailcyr</string>
    <string>Zetailcyr</string>
    <string>zetailcyr</string>
    <string>Katailcyr</string>
    <string>katailcyr</string>
    <string>Kaverticalstrokecyr</string>
    <string>kaverticalstrokecyr</string>
    <string>Kabashkcyr</string>
    <string>kabashkcyr</string>
    <string>Entailcyr</string>
    <string>entailcyr</string>
    <string>Engecyr</string>
    <string>engecyr</string>
    <string>Estailcyr</string>
    <string>estailcyr</string>
    <string>Ustraightcyr</string>
    <string>ustraightcyr</string>
    <string>Ustraightstrokecyr</string>
    <string>ustraightstrokecyr</string>
    <string>Xatailcyr</string>
    <string>xatailcyr</string>
    <string>Chetailcyr</string>
    <string>chetailcyr</string>
    <string>Chevertcyr</string>
    <string>chevertcyr</string>
    <string>Shhacyr</string>
    <string>shhacyr</string>
    <string>Palochkacyr</string>
    <string>Zhebrevecyr</string>
    <string>zhebrevecyr</string>
    <string>palochkacyr</string>
    <string>Abrevecyr</string>
    <string>abrevecyr</string>
    <string>Adieresiscyr</string>
    <string>adieresiscyr</string>
    <string>Aiecyr</string>
    <string>aiecyr</string>
    <string>Iebrevecyr</string>
    <string>iebrevecyr</string>
    <string>Schwacyr</string>
    <string>schwacyr</string>
    <string>Zhedieresiscyr</string>
    <string>zhedieresiscyr</string>
    <string>Zedieresiscyr</string>
    <string>zedieresiscyr</string>
    <string>Imacroncyr</string>
    <string>imacroncyr</string>
    <string>Idieresiscyr</string>
    <string>idieresiscyr</string>
    <string>Odieresiscyr</string>
    <string>odieresiscyr</string>
    <string>Obarcyr</string>
    <string>obarcyr</string>
    <string>Umacroncyr</string>
    <string>umacroncyr</string>
    <string>Udieresiscyr</string>
    <string>udieresiscyr</string>
    <string>Uacutedblcyr</string>
    <string>uacutedblcyr</string>
    <string>Chedieresiscyr</string>
    <string>chedieresiscyr</string>
    <string>Ylongdieresiscyr</string>
    <string>ylongdieresiscyr</string>
    <string>baht-thai</string>
    <string>Germandbls</string>
    <string>Adotbelow</string>
    <string>adotbelow</string>
    <string>Ahoi</string>
    <string>ahoi</string>
    <string>Acircumflexacute</string>
    <string>acircumflexacute</string>
    <string>Acircumflexgrave</string>
    <string>acircumflexgrave</string>
    <string>Acircumflexhoi</string>
    <string>acircumflexhoi</string>
    <string>Acircumflextilde</string>
    <string>acircumflextilde</string>
    <string>Acircumflexdotbelow</string>
    <string>acircumflexdotbelow</string>
    <string>Abreveacute</string>
    <string>abreveacute</string>
    <string>Abrevegrave</string>
    <string>abrevegrave</string>
    <string>Abrevehoi</string>
    <string>abrevehoi</string>
    <string>Abrevetilde</string>
    <string>abrevetilde</string>
    <string>Abrevedotbelow</string>
    <string>abrevedotbelow</string>
    <string>Edotbelow</string>
    <string>edotbelow</string>
    <string>Ehoi</string>
    <string>ehoi</string>
    <string>Etilde</string>
    <string>etilde</string>
    <string>Ecircumflexacute</string>
    <string>ecircumflexacute</string>
    <string>Ecircumflexgrave</string>
    <string>ecircumflexgrave</string>
    <string>Ecircumflexhoi</string>
    <string>ecircumflexhoi</string>
    <string>Ecircumflextilde</string>
    <string>ecircumflextilde</string>
    <string>Ecircumflexdotbelow</string>
    <string>ecircumflexdotbelow</string>
    <string>Ihoi</string>
    <string>ihoi</string>
    <string>Idotbelow</string>
    <string>idotbelow</string>
    <string>Odotbelow</string>
    <string>odotbelow</string>
    <string>Ohoi</string>
    <string>ohoi</string>
    <string>Ocircumflexacute</string>
    <string>ocircumflexacute</string>
    <string>Ocircumflexgrave</string>
    <string>ocircumflexgrave</string>
    <string>Ocircumflexhoi</string>
    <string>ocircumflexhoi</string>
    <string>Ocircumflextilde</string>
    <string>ocircumflextilde</string>
    <string>Ocircumflexdotbelow</string>
    <string>ocircumflexdotbelow</string>
    <string>Ohornacute</string>
    <string>ohornacute</string>
    <string>Ohorngrave</string>
    <string>ohorngrave</string>
    <string>Ohornhoi</string>
    <string>ohornhoi</string>
    <string>Ohorntilde</string>
    <string>ohorntilde</string>
    <string>Ohorndotbelow</string>
    <string>ohorndotbelow</string>
    <string>Udotbelow</string>
    <string>udotbelow</string>
    <string>Uhoi</string>
    <string>uhoi</string>
    <string>Uhornacute</string>
    <string>uhornacute</string>
    <string>Uhorngrave</string>
    <string>uhorngrave</string>
    <string>Uhornhoi</string>
    <string>uhornhoi</string>
    <string>Uhorntilde</string>
    <string>uhorntilde</string>
    <string>Uhorndotbelow</string>
    <string>uhorndotbelow</string>
    <string>Ydotbelow</string>
    <string>ydotbelow</string>
    <string>Yhoi</string>
    <string>yhoi</string>
    <string>Ytilde</string>
    <string>ytilde</string>
    <string>zero.superior</string>
    <string>four.superior</string>
    <string>five.superior</string>
    <string>six.superior</string>
    <string>seven.superior</string>
    <string>eight.superior</string>
    <string>nine.superior</string>
    <string>zero.inferior</string>
    <string>one.inferior</string>
    <string>two.inferior</string>
    <string>three.inferior</string>
    <string>four.inferior</string>
    <string>five.inferior</string>
    <string>six.inferior</string>
    <string>seven.inferior</string>
    <string>eight.inferior</string>
    <string>nine.inferior</string>
    <string>naira</string>
    <string>rupee</string>
    <string>won</string>
    <string>newsheqel</string>
    <string>kip</string>
    <string>tugrik</string>
    <string>peso</string>
    <string>guarani</string>
    <string>hryvnia</string>
    <string>cedi</string>
    <string>tenge</string>
    <string>indianrupee</string>
    <string>turkishlira</string>
    <string>ruble</string>
    <string>bitcoin</string>
    <string>litre</string>
    <string>numero</string>
    <string>oneseventh</string>
    <string>oneninth</string>
    <string>onefifth</string>
    <string>twofifths</string>
    <string>threefifths</string>
    <string>fourfifths</string>
    <string>onesixth</string>
    <string>fivesixths</string>
    <string>arrowNW</string>
    <string>arrowNE</string>
    <string>arrowSE</string>
    <string>arrowSW</string>
    <string>arrowlefthook</string>
    <string>arrowrighthook</string>
    <string>arrowleftuptip</string>
    <string>arrowuprighttip</string>
    <string>arrowleftdowntip</string>
    <string>arrowrightdowntip</string>
    <string>arrowanticlockwisesemicircle</string>
    <string>arrowclockwisesemicircle</string>
    <string>arrowanticlockwiseopencircle</string>
    <string>arrowclockwiseopencircle</string>
    <string>rightarrowoverleftarrow</string>
    <string>leftarrowoverrightarrow</string>
    <string>check</string>
    <string>crossMark</string>
    <string>rightTipDownArrow</string>
    <string>rightTipUpArrow</string>
    <string>leftArrowTipDown</string>
    <string>leftArrowTipUp</string>
    <string>fi</string>
    <string>fl</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhorn</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>underscore</string>
    <string>uniF6D7</string>
    <string>uniF6D8</string>
    <string>uogonek</string>
    <string>upsilon</string>
    <string>upsilondieresis</string>
    <string>upsilondieresistonos</string>
    <string>upsilontonos</string>
    <string>uring</string>
    <string>utilde</string>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
    <string>x</string>
    <string>xi</string>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>yen</string>
    <string>ygrave</string>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>zero</string>
    <string>zero.subs</string>
    <string>zero.sups</string>
    <string>zeta</string>
    <string>ff</string>
    <string>ffi</string>
    <string>ffl</string>
    <string>.null</string>
    <string>glyph818</string>
    <string>glyph819</string>
    <string>glyph823</string>
    <string>uni00AD</string>
    <string>uni0394</string>
    <string>uni03A9</string>
    <string>uni03BC</string>
  </array>
</dict>
</plist>
