<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>space</string>
    <string>A</string>
    <string>A-cyrl</string>
    <string>AE</string>
    <string>AEacute</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Abreve-cyrl</string>
    <string>Abreveacute</string>
    <string>Abrevedotbelow</string>
    <string>Abrevegrave</string>
    <string>Abrevehookabove</string>
    <string>Abrevetilde</string>
    <string>Acircumflex</string>
    <string>Acircumflexacute</string>
    <string>Acircumflexdotbelow</string>
    <string>Acircumflexgrave</string>
    <string>Acircumflexhookabove</string>
    <string>Acircumflextilde</string>
    <string>Adieresis</string>
    <string>Adieresis-cyrl</string>
    <string>Adotbelow</string>
    <string>Agrave</string>
    <string>Ahookabove</string>
    <string>Aie-cyrl</string>
    <string>Alpha-grek</string>
    <string>Alphatonos-grek</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Aringacute</string>
    <string>Atilde</string>
    <string>B</string>
    <string>Bashkirka-cyrl</string>
    <string>Be-cyrl</string>
    <string>Beta-grek</string>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>Che-cyrl</string>
    <string>Chedescender-cyrl</string>
    <string>Chedieresis-cyrl</string>
    <string>Cheverticalstroke-cyrl</string>
    <string>Chi-grek</string>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>De-cyrl</string>
    <string>Delta-grek</string>
    <string>Dje-cyrl</string>
    <string>Dze-cyrl</string>
    <string>Dzhe-cyrl</string>
    <string>E</string>
    <string>E-cyrl</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Ecircumflexacute</string>
    <string>Ecircumflexdotbelow</string>
    <string>Ecircumflexgrave</string>
    <string>Ecircumflexhookabove</string>
    <string>Ecircumflextilde</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Edotbelow</string>
    <string>Ef-cyrl</string>
    <string>Egrave</string>
    <string>Ehookabove</string>
    <string>El-cyrl</string>
    <string>Em-cyrl</string>
    <string>Emacron</string>
    <string>En-cyrl</string>
    <string>Endescender-cyrl</string>
    <string>Eng</string>
    <string>Enghe-cyrl</string>
    <string>Eogonek</string>
    <string>Epsilon-grek</string>
    <string>Epsilontonos-grek</string>
    <string>Er-cyrl</string>
    <string>Es-cyrl</string>
    <string>Esdescender-cyrl</string>
    <string>Eta-grek</string>
    <string>Etatonos-grek</string>
    <string>Eth</string>
    <string>Etilde</string>
    <string>F</string>
    <string>Fita-cyrl</string>
    <string>G</string>
    <string>Gamma-grek</string>
    <string>Gbreve</string>
    <string>Gcedilla</string>
    <string>Gcircumflex</string>
    <string>Gdotaccent</string>
    <string>Germandbls</string>
    <string>Ghe-cyrl</string>
    <string>Ghemiddlehook-cyrl</string>
    <string>Ghestroke-cyrl</string>
    <string>Gheupturn-cyrl</string>
    <string>Gje-cyrl</string>
    <string>H</string>
    <string>Ha-cyrl</string>
    <string>Hadescender-cyrl</string>
    <string>Hbar</string>
    <string>Hcircumflex</string>
    <string>I</string>
    <string>I-cyrl</string>
    <string>IJ</string>
    <string>Iacute</string>
    <string>Ibreve</string>
    <string>Ibyelorussianukrainian-cyrl</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idieresis-cyrl</string>
    <string>Idotaccent</string>
    <string>Idotbelow</string>
    <string>Ie-cyrl</string>
    <string>Iebreve-cyrl</string>
    <string>Iegrave-cyrl</string>
    <string>Ieukrainian-cyrl</string>
    <string>Igrave</string>
    <string>Igrave-cyrl</string>
    <string>Ihookabove</string>
    <string>Imacron</string>
    <string>Imacron-cyrl</string>
    <string>Io-cyrl</string>
    <string>Iogonek</string>
    <string>Iota-grek</string>
    <string>Iotadialytika-grek</string>
    <string>Iotatonos-grek</string>
    <string>Ishort-cyrl</string>
    <string>Itilde</string>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>Je-cyrl</string>
    <string>K</string>
    <string>Ka-cyrl</string>
    <string>Kadescender-cyrl</string>
    <string>Kappa-grek</string>
    <string>Kaverticalstroke-cyrl</string>
    <string>Kcedilla</string>
    <string>Kje-cyrl</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lamda-grek</string>
    <string>Lcaron</string>
    <string>Lcedilla</string>
    <string>Lje-cyrl</string>
    <string>Lmiddledot</string>
    <string>Lslash</string>
    <string>M</string>
    <string>Mu-grek</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncedilla</string>
    <string>Nje-cyrl</string>
    <string>Ntilde</string>
    <string>Nu-grek</string>
    <string>O</string>
    <string>O-cyrl</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Obarred-cyrl</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Ocircumflexacute</string>
    <string>Ocircumflexdotbelow</string>
    <string>Ocircumflexgrave</string>
    <string>Ocircumflexhookabove</string>
    <string>Ocircumflextilde</string>
    <string>Odieresis</string>
    <string>Odieresis-cyrl</string>
    <string>Odotbelow</string>
    <string>Odoubleacute</string>
    <string>Ograve</string>
    <string>Ohmsign-grek</string>
    <string>Ohookabove</string>
    <string>Ohorn</string>
    <string>Ohornacute</string>
    <string>Ohorndotbelow</string>
    <string>Ohorngrave</string>
    <string>Ohornhookabove</string>
    <string>Ohorntilde</string>
    <string>Omacron</string>
    <string>Omega-grek</string>
    <string>Omegatonos-grek</string>
    <string>Omicron-grek</string>
    <string>Omicrontonos-grek</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>Otilde</string>
    <string>P</string>
    <string>Palochka-cyrl</string>
    <string>Pe-cyrl</string>
    <string>Phi-grek</string>
    <string>Pi-grek</string>
    <string>Psi-grek</string>
    <string>Q</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcedilla</string>
    <string>Rho-grek</string>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Schwa</string>
    <string>Schwa-cyrl</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
    <string>Sha-cyrl</string>
    <string>Shcha-cyrl</string>
    <string>Shha-cyrl</string>
    <string>Sigma-grek</string>
    <string>Signhard-cyrl</string>
    <string>Signsoft-cyrl</string>
    <string>Straightu-cyrl</string>
    <string>Straightustroke-cyrl</string>
    <string>T</string>
    <string>Tau-grek</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
    <string>Te-cyrl</string>
    <string>Theta-grek</string>
    <string>Thorn</string>
    <string>Tse-cyrl</string>
    <string>Tshe-cyrl</string>
    <string>U</string>
    <string>U-cyrl</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Udieresis-cyrl</string>
    <string>Udotbelow</string>
    <string>Udoubleacute</string>
    <string>Udoubleacute-cyrl</string>
    <string>Ugrave</string>
    <string>Uhookabove</string>
    <string>Uhorn</string>
    <string>Uhornacute</string>
    <string>Uhorndotbelow</string>
    <string>Uhorngrave</string>
    <string>Uhornhookabove</string>
    <string>Uhorntilde</string>
    <string>Umacron</string>
    <string>Umacron-cyrl</string>
    <string>Uogonek</string>
    <string>Upsilon-grek</string>
    <string>Upsilondialytika-grek</string>
    <string>Upsilontonos-grek</string>
    <string>Uring</string>
    <string>Ushort-cyrl</string>
    <string>Utilde</string>
    <string>V</string>
    <string>Ve-cyrl</string>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
    <string>X</string>
    <string>Xi-grek</string>
    <string>Y</string>
    <string>Ya-cyrl</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ydotbelow</string>
    <string>Yeru-cyrl</string>
    <string>Yerudieresis-cyrl</string>
    <string>Ygrave</string>
    <string>Yhookabove</string>
    <string>Yi-cyrl</string>
    <string>Ytilde</string>
    <string>Yu-cyrl</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>Ze-cyrl</string>
    <string>Zedescender-cyrl</string>
    <string>Zedieresis-cyrl</string>
    <string>Zeta-grek</string>
    <string>Zhe-cyrl</string>
    <string>Zhebreve-cyrl</string>
    <string>Zhedescender-cyrl</string>
    <string>Zhedieresis-cyrl</string>
    <string>a</string>
    <string>a-cyrl</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>abreve-cyrl</string>
    <string>abreveacute</string>
    <string>abrevedotbelow</string>
    <string>abrevegrave</string>
    <string>abrevehookabove</string>
    <string>abrevetilde</string>
    <string>acircumflex</string>
    <string>acircumflexacute</string>
    <string>acircumflexdotbelow</string>
    <string>acircumflexgrave</string>
    <string>acircumflexhookabove</string>
    <string>acircumflextilde</string>
    <string>acute</string>
    <string>acutecomb</string>
    <string>adieresis</string>
    <string>adieresis-cyrl</string>
    <string>adotbelow</string>
    <string>ae</string>
    <string>aeacute</string>
    <string>agrave</string>
    <string>ahookabove</string>
    <string>aie-cyrl</string>
    <string>almostequalto</string>
    <string>alpha-grek</string>
    <string>alphatonos-grek</string>
    <string>amacron</string>
    <string>ampersand</string>
    <string>anticlockwiseopencirclearrow</string>
    <string>anticlockwisetopsemicirclearrow</string>
    <string>aogonek</string>
    <string>apostrophemod</string>
    <string>aring</string>
    <string>aringacute</string>
    <string>asciicircum</string>
    <string>asciitilde</string>
    <string>asterisk</string>
    <string>at</string>
    <string>atilde</string>
    <string>b</string>
    <string>backslash</string>
    <string>bar</string>
    <string>bashkirka-cyrl</string>
    <string>be-cyrl</string>
    <string>beta-grek</string>
    <string>bitcoinsign</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>brevecomb</string>
    <string>brevemod</string>
    <string>brokenbar</string>
    <string>bullet</string>
    <string>c</string>
    <string>cacute</string>
    <string>caroncomb</string>
    <string>caronmod</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>cedilla</string>
    <string>cedillacomb</string>
    <string>cedisign</string>
    <string>cent</string>
    <string>che-cyrl</string>
    <string>checkmark</string>
    <string>chedescender-cyrl</string>
    <string>chedieresis-cyrl</string>
    <string>cheverticalstroke-cyrl</string>
    <string>chi-grek</string>
    <string>circumflexcomb</string>
    <string>circumflexmod</string>
    <string>clockwiseopencirclearrow</string>
    <string>clockwisetopsemicirclearrow</string>
    <string>colon</string>
    <string>colonsign</string>
    <string>comma</string>
    <string>commaaboverightcomb</string>
    <string>commaaccentcomb</string>
    <string>commaturnedmod</string>
    <string>copyright</string>
    <string>crossmark</string>
    <string>d</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>de-cyrl</string>
    <string>degree</string>
    <string>delta-grek</string>
    <string>dieresis</string>
    <string>dieresiscomb</string>
    <string>divide</string>
    <string>dje-cyrl</string>
    <string>dollar</string>
    <string>dongsign</string>
    <string>dotaccentcomb</string>
    <string>dotaccentmod</string>
    <string>dotbelowcomb</string>
    <string>doubleacutecomb</string>
    <string>doubleacutemod</string>
    <string>downwardsarrow</string>
    <string>downwardsarrowwithtipleftwards</string>
    <string>downwardsarrowwithtiprightwards</string>
    <string>dze-cyrl</string>
    <string>dzhe-cyrl</string>
    <string>e</string>
    <string>e-cyrl</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>ecircumflexacute</string>
    <string>ecircumflexdotbelow</string>
    <string>ecircumflexgrave</string>
    <string>ecircumflexhookabove</string>
    <string>ecircumflextilde</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>edotbelow</string>
    <string>ef-cyrl</string>
    <string>egrave</string>
    <string>ehookabove</string>
    <string>eight</string>
    <string>eightinferior</string>
    <string>eightsuperior</string>
    <string>el-cyrl</string>
    <string>ellipsis</string>
    <string>em-cyrl</string>
    <string>emacron</string>
    <string>emdash</string>
    <string>en-cyrl</string>
    <string>endash</string>
    <string>endescender-cyrl</string>
    <string>eng</string>
    <string>enghe-cyrl</string>
    <string>eogonek</string>
    <string>epsilon-grek</string>
    <string>epsilontonos-grek</string>
    <string>equal</string>
    <string>er-cyrl</string>
    <string>es-cyrl</string>
    <string>esdescender-cyrl</string>
    <string>estimated</string>
    <string>eta-grek</string>
    <string>etatonos-grek</string>
    <string>eth</string>
    <string>etilde</string>
    <string>euro</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>f</string>
    <string>fhook</string>
    <string>fi</string>
    <string>finalsigma-grek</string>
    <string>fita-cyrl</string>
    <string>five</string>
    <string>fiveeighths</string>
    <string>fiveinferior</string>
    <string>fivesixths</string>
    <string>fivesuperior</string>
    <string>fl</string>
    <string>four</string>
    <string>fourfifths</string>
    <string>fourinferior</string>
    <string>foursuperior</string>
    <string>fraction</string>
    <string>g</string>
    <string>gamma-grek</string>
    <string>gbreve</string>
    <string>gcedilla</string>
    <string>gcircumflex</string>
    <string>gdotaccent</string>
    <string>germandbls</string>
    <string>ghe-cyrl</string>
    <string>ghemiddlehook-cyrl</string>
    <string>ghestroke-cyrl</string>
    <string>gheupturn-cyrl</string>
    <string>gje-cyrl</string>
    <string>glyph818</string>
    <string>glyph819</string>
    <string>grave</string>
    <string>gravecomb</string>
    <string>greater</string>
    <string>greaterthanorequalto</string>
    <string>greekanoteleia</string>
    <string>greekdialytikatonosmod</string>
    <string>greekquestionmark</string>
    <string>guaranisign</string>
    <string>guillemetleft</string>
    <string>guillemetright</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>h</string>
    <string>ha-cyrl</string>
    <string>hadescender-cyrl</string>
    <string>hbar</string>
    <string>hcircumflex</string>
    <string>hookcomb</string>
    <string>horncomb</string>
    <string>hryvniasign</string>
    <string>hyphenminus</string>
    <string>i</string>
    <string>i-cyrl</string>
    <string>iacute</string>
    <string>ibreve</string>
    <string>ibyelorussianukrainian-cyrl</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>idieresis-cyrl</string>
    <string>idotbelow</string>
    <string>idotless</string>
    <string>ie-cyrl</string>
    <string>iebreve-cyrl</string>
    <string>iegrave-cyrl</string>
    <string>ieukrainian-cyrl</string>
    <string>igrave</string>
    <string>igrave-cyrl</string>
    <string>ihookabove</string>
    <string>ij</string>
    <string>imacron</string>
    <string>imacron-cyrl</string>
    <string>increment</string>
    <string>indianrupeesign</string>
    <string>infinity</string>
    <string>integral</string>
    <string>io-cyrl</string>
    <string>iogonek</string>
    <string>iota-grek</string>
    <string>iotadialytika-grek</string>
    <string>iotadialytikatonos-grek</string>
    <string>iotatonos-grek</string>
    <string>ishort-cyrl</string>
    <string>itilde</string>
    <string>j</string>
    <string>jcircumflex</string>
    <string>jdotless</string>
    <string>je-cyrl</string>
    <string>k</string>
    <string>ka-cyrl</string>
    <string>kadescender-cyrl</string>
    <string>kappa-grek</string>
    <string>kaverticalstroke-cyrl</string>
    <string>kcedilla</string>
    <string>kipsign</string>
    <string>kje-cyrl</string>
    <string>kra</string>
    <string>l</string>
    <string>lacute</string>
    <string>lamda-grek</string>
    <string>lcaron</string>
    <string>lcedilla</string>
    <string>leftrightarrow</string>
    <string>leftwardsarrow</string>
    <string>leftwardsarrowoverrightwardsarrow</string>
    <string>leftwardsarrowwithhook</string>
    <string>leftwardsarrowwithtipdownwards</string>
    <string>leftwardsarrowwithtipupwards</string>
    <string>less</string>
    <string>lessthanorequalto</string>
    <string>lirasign</string>
    <string>lje-cyrl</string>
    <string>lmiddledot</string>
    <string>logicalnot</string>
    <string>lozenge</string>
    <string>lscript</string>
    <string>lslash</string>
    <string>m</string>
    <string>macron</string>
    <string>macroncomb</string>
    <string>minus</string>
    <string>mu</string>
    <string>mu-grek</string>
    <string>multiply</string>
    <string>n</string>
    <string>nacute</string>
    <string>nairasign</string>
    <string>napostrophe</string>
    <string>naryproduct</string>
    <string>narysummation</string>
    <string>nbspace</string>
    <string>ncaron</string>
    <string>ncedilla</string>
    <string>newsheqelsign</string>
    <string>nine</string>
    <string>nineinferior</string>
    <string>ninesuperior</string>
    <string>nje-cyrl</string>
    <string>northeastarrow</string>
    <string>northwestarrow</string>
    <string>notequalto</string>
    <string>ntilde</string>
    <string>nu-grek</string>
    <string>numbersign</string>
    <string>numerosign</string>
    <string>o</string>
    <string>o-cyrl</string>
    <string>oacute</string>
    <string>obarred-cyrl</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>ocircumflexacute</string>
    <string>ocircumflexdotbelow</string>
    <string>ocircumflexgrave</string>
    <string>ocircumflexhookabove</string>
    <string>ocircumflextilde</string>
    <string>odieresis</string>
    <string>odieresis-cyrl</string>
    <string>odotbelow</string>
    <string>odoubleacute</string>
    <string>oe</string>
    <string>ogonekcomb</string>
    <string>ogonekmod</string>
    <string>ograve</string>
    <string>ohookabove</string>
    <string>ohorn</string>
    <string>ohornacute</string>
    <string>ohorndotbelow</string>
    <string>ohorngrave</string>
    <string>ohornhookabove</string>
    <string>ohorntilde</string>
    <string>omacron</string>
    <string>omega-grek</string>
    <string>omegatonos-grek</string>
    <string>omicron-grek</string>
    <string>omicrontonos-grek</string>
    <string>one</string>
    <string>oneeighth</string>
    <string>onefifth</string>
    <string>onehalf</string>
    <string>oneinferior</string>
    <string>oneninth</string>
    <string>onequarter</string>
    <string>oneseventh</string>
    <string>onesixth</string>
    <string>onesuperior</string>
    <string>onethird</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>oslash</string>
    <string>oslashacute</string>
    <string>otilde</string>
    <string>p</string>
    <string>palochka-cyrl</string>
    <string>paragraph</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>partialdifferential</string>
    <string>pe-cyrl</string>
    <string>percent</string>
    <string>period</string>
    <string>periodcentered</string>
    <string>perthousand</string>
    <string>pesosign</string>
    <string>phi-grek</string>
    <string>pi-grek</string>
    <string>plus</string>
    <string>plusminus</string>
    <string>psi-grek</string>
    <string>q</string>
    <string>question</string>
    <string>questiondown</string>
    <string>quotedbl</string>
    <string>quotedblbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotesingle</string>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcedilla</string>
    <string>registered</string>
    <string>rho-grek</string>
    <string>rightwardsarrow</string>
    <string>rightwardsarrowoverleftwardsarrow</string>
    <string>rightwardsarrowwithhook</string>
    <string>rightwardsarrowwithtipdownwards</string>
    <string>rightwardsarrowwithtipupwards</string>
    <string>ringcomb</string>
    <string>ringmod</string>
    <string>rublesign</string>
    <string>rupeesign</string>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>schwa</string>
    <string>schwa-cyrl</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
    <string>section</string>
    <string>semicolon</string>
    <string>seven</string>
    <string>seveneighths</string>
    <string>seveninferior</string>
    <string>sevensuperior</string>
    <string>sha-cyrl</string>
    <string>shcha-cyrl</string>
    <string>shha-cyrl</string>
    <string>sigma-grek</string>
    <string>signhard-cyrl</string>
    <string>signsoft-cyrl</string>
    <string>six</string>
    <string>sixinferior</string>
    <string>sixsuperior</string>
    <string>slash</string>
    <string>softhyphen</string>
    <string>southeastarrow</string>
    <string>southwestarrow</string>
    <string>squareroot</string>
    <string>sterling</string>
    <string>straightu-cyrl</string>
    <string>straightustroke-cyrl</string>
    <string>t</string>
    <string>tau-grek</string>
    <string>tbar</string>
    <string>tcaron</string>
    <string>tcedilla</string>
    <string>tcommaaccent</string>
    <string>te-cyrl</string>
    <string>tengesign</string>
    <string>thaicurrencysymbolbaht</string>
    <string>theta-grek</string>
    <string>thorn</string>
    <string>three</string>
    <string>threeeighths</string>
    <string>threefifths</string>
    <string>threeinferior</string>
    <string>threequarters</string>
    <string>threesuperior</string>
    <string>tildecomb</string>
    <string>tildemod</string>
    <string>tonosmod-grek</string>
    <string>trademark</string>
    <string>tse-cyrl</string>
    <string>tshe-cyrl</string>
    <string>tugriksign</string>
    <string>turkishlirasign</string>
    <string>turnedcommacomb</string>
    <string>two</string>
    <string>twofifths</string>
    <string>twoinferior</string>
    <string>twosuperior</string>
    <string>twothirds</string>
    <string>u</string>
    <string>u-cyrl</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>udieresis-cyrl</string>
    <string>udotbelow</string>
    <string>udoubleacute</string>
    <string>udoubleacute-cyrl</string>
    <string>ugrave</string>
    <string>uhookabove</string>
    <string>uhorn</string>
    <string>uhornacute</string>
    <string>uhorndotbelow</string>
    <string>uhorngrave</string>
    <string>uhornhookabove</string>
    <string>uhorntilde</string>
    <string>umacron</string>
    <string>umacron-cyrl</string>
    <string>underscore</string>
    <string>uogonek</string>
    <string>updownarrow</string>
    <string>upsilon-grek</string>
    <string>upsilondialytika-grek</string>
    <string>upsilondialytikatonos-grek</string>
    <string>upsilontonos-grek</string>
    <string>upwardsarrow</string>
    <string>upwardsarrowwithtipleftwards</string>
    <string>upwardsarrowwithtiprightwards</string>
    <string>uring</string>
    <string>ushort-cyrl</string>
    <string>utilde</string>
    <string>v</string>
    <string>ve-cyrl</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
    <string>wonsign</string>
    <string>x</string>
    <string>xi-grek</string>
    <string>y</string>
    <string>ya-cyrl</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>ydotbelow</string>
    <string>yen</string>
    <string>yeru-cyrl</string>
    <string>yerudieresis-cyrl</string>
    <string>ygrave</string>
    <string>yhookabove</string>
    <string>yi-cyrl</string>
    <string>ytilde</string>
    <string>yu-cyrl</string>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>ze-cyrl</string>
    <string>zedescender-cyrl</string>
    <string>zedieresis-cyrl</string>
    <string>zero</string>
    <string>zeroinferior</string>
    <string>zerosuperior</string>
    <string>zeta-grek</string>
    <string>zhe-cyrl</string>
    <string>zhebreve-cyrl</string>
    <string>zhedescender-cyrl</string>
    <string>zhedieresis-cyrl</string>
  </array>
</dict>
</plist>
