<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ordn_sinf_subs_sups</key>
    <array>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
    </array>
    <key>sinf</key>
    <array>
      <string>u2080</string>
      <string>u2081</string>
      <string>u2082</string>
      <string>u2083</string>
      <string>u2084</string>
      <string>u2085</string>
      <string>u2086</string>
      <string>u2087</string>
      <string>u2088</string>
      <string>u2089</string>
    </array>
    <key>subs</key>
    <array>
      <string>zero.subs</string>
      <string>one.subs</string>
      <string>two.subs</string>
      <string>three.subs</string>
      <string>four.subs</string>
      <string>five.subs</string>
      <string>six.subs</string>
      <string>seven.subs</string>
      <string>eight.subs</string>
      <string>nine.subs</string>
    </array>
    <key>sups</key>
    <array>
      <string>zero.sups</string>
      <string>one.sups</string>
      <string>two.sups</string>
      <string>three.sups</string>
      <string>four.sups</string>
      <string>five.sups</string>
      <string>six.sups</string>
      <string>seven.sups</string>
      <string>eight.sups</string>
      <string>nine.sups</string>
    </array>
  </dict>
</plist>
