(
.notdef,
space,
exclam,
quotedbl,
numbersign,
dollar,
percent,
ampersand,
quotesingle,
parenleft,
parenright,
asterisk,
plus,
comma,
hyphen,
period,
slash,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
colon,
semicolon,
less,
equal,
greater,
question,
at,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
bracketleft,
backslash,
bracketright,
asciicircum,
underscore,
grave,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
braceleft,
bar,
braceright,
asciitilde,
nbspace,
exclamdown,
cent,
sterling,
currency,
yen,
brokenbar,
section,
dieresis,
copyright,
ordfeminine,
guillemotleft,
logicalnot,
softhyphen,
registered,
macron,
degree,
plusminus,
twosuperior,
threesuperior,
acute,
paragraph,
periodcentered,
cedilla,
onesuperior,
ordmasculine,
guillemotright,
onequarter,
onehalf,
threequarters,
questiondown,
Agrave,
Aacute,
Acircumflex,
Atilde,
Adieresis,
Aring,
AE,
Ccedilla,
Egrave,
Eacute,
Ecircumflex,
Edieresis,
Igrave,
Iacute,
Icircumflex,
Idieresis,
Eth,
Ntilde,
Ograve,
Oacute,
Ocircumflex,
Otilde,
Odieresis,
multiply,
Oslash,
Ugrave,
Uacute,
Ucircumflex,
Udieresis,
Yacute,
Thorn,
germandbls,
agrave,
aacute,
acircumflex,
atilde,
adieresis,
aring,
ae,
ccedilla,
egrave,
eacute,
ecircumflex,
edieresis,
igrave,
iacute,
icircumflex,
idieresis,
eth,
ntilde,
ograve,
oacute,
ocircumflex,
otilde,
odieresis,
divide,
oslash,
ugrave,
uacute,
ucircumflex,
udieresis,
yacute,
thorn,
ydieresis,
Amacron,
amacron,
Abreve,
abreve,
Aogonek,
aogonek,
Cacute,
cacute,
Ccircumflex,
ccircumflex,
Cdotaccent,
cdotaccent,
Ccaron,
ccaron,
Dcaron,
dcaron,
Dcroat,
dcroat,
Emacron,
emacron,
Ebreve,
ebreve,
Edotaccent,
edotaccent,
Eogonek,
eogonek,
Ecaron,
ecaron,
Gcircumflex,
gcircumflex,
Gbreve,
gbreve,
Gdotaccent,
gdotaccent,
Gcommaaccent,
gcommaaccent,
Hcircumflex,
hcircumflex,
Hbar,
hbar,
Itilde,
itilde,
Imacron,
imacron,
Ibreve,
ibreve,
Iogonek,
iogonek,
Idotaccent,
dotlessi,
IJ,
ij,
Jcircumflex,
jcircumflex,
Kcommaaccent,
kcommaaccent,
kgreenlandic,
Lacute,
lacute,
Lcommaaccent,
lcommaaccent,
Lcaron,
lcaron,
Ldot,
ldot,
Lslash,
lslash,
Nacute,
nacute,
Ncommaaccent,
ncommaaccent,
Ncaron,
ncaron,
napostrophe,
Eng,
eng,
Omacron,
omacron,
Obreve,
obreve,
Ohungarumlaut,
ohungarumlaut,
OE,
oe,
Racute,
racute,
Rcommaaccent,
rcommaaccent,
Rcaron,
rcaron,
Sacute,
sacute,
Scircumflex,
scircumflex,
Scedilla,
scedilla,
Scaron,
scaron,
Tcedilla,
tcedilla,
Tcaron,
tcaron,
Tbar,
tbar,
Utilde,
utilde,
Umacron,
umacron,
Ubreve,
ubreve,
Uring,
uring,
Uhungarumlaut,
uhungarumlaut,
Uogonek,
uogonek,
Wcircumflex,
wcircumflex,
Ycircumflex,
ycircumflex,
Ydieresis,
Zacute,
zacute,
Zdotaccent,
zdotaccent,
Zcaron,
zcaron,
longs,
Schwa,
florin,
Ohorn,
ohorn,
Uhorn,
uhorn,
Acaron,
acaron,
Icaron,
icaron,
Ocaron,
ocaron,
Ucaron,
ucaron,
Udieresismacron,
udieresismacron,
Udieresisacute,
udieresisacute,
Udieresiscaron,
udieresiscaron,
Udieresisgrave,
udieresisgrave,
Aringacute,
aringacute,
AEacute,
aeacute,
Oslashacute,
oslashacute,
Scommaaccent,
scommaaccent,
Tcommaaccent,
tcommaaccent,
dotlessj,
schwa,
commaturnedmod,
apostrophemod,
circumflex,
caron,
breve,
dotaccent,
ring,
ogonek,
tilde,
hungarumlaut,
gravecomb,
acutecomb,
circumflexcomb,
tildecomb,
macroncomb,
brevecomb,
dotaccentcomb,
dieresiscomb,
hookabovecomb,
ringcomb,
hungarumlautcomb,
caroncomb,
commaturnedabovecomb,
commaaboverightcomb,
horncomb,
dotbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
tonos,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
iotadieresistonos,
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
Iota,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Chi,
Psi,
Omega,
Iotadieresis,
Upsilondieresis,
alphatonos,
epsilontonos,
etatonos,
iotatonos,
upsilondieresistonos,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
iota,
kappa,
lambda,
mu,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
iotadieresis,
upsilondieresis,
omicrontonos,
upsilontonos,
omegatonos,
Iegravecyr,
Iocyr,
Djecyr,
Gjecyr,
Eukrcyr,
Dzecyr,
Iukrcyr,
Yukrcyr,
Jecyr,
Ljecyr,
Njecyr,
Tshecyr,
Kjecyr,
Igravecyr,
Ushortcyr,
Dzhecyr,
Acyr,
Becyr,
Vecyr,
Gecyr,
Decyr,
Iecyr,
Zhecyr,
Zecyr,
Icyr,
Ishortcyr,
Kacyr,
Elcyr,
Emcyr,
Encyr,
Ocyr,
Pecyr,
Ercyr,
Escyr,
Tecyr,
Ucyr,
Efcyr,
Hacyr,
Tsecyr,
Checyr,
Shacyr,
Shchacyr,
Hardcyr,
Ylongcyr,
Softcyr,
Ereversedcyr,
Yucyr,
Yacyr,
acyr,
becyr,
vecyr,
gecyr,
decyr,
iecyr,
zhecyr,
zecyr,
icyr,
ishortcyr,
kacyr,
elcyr,
emcyr,
encyr,
ocyr,
pecyr,
ercyr,
escyr,
tecyr,
ucyr,
efcyr,
hacyr,
tsecyr,
checyr,
shacyr,
shchacyr,
hardcyr,
ylongcyr,
softcyr,
ereversedcyr,
yucyr,
yacyr,
iegravecyr,
iocyr,
djecyr,
gjecyr,
eukrcyr,
dzecyr,
iukrcyr,
yukrcyr,
jecyr,
ljecyr,
njecyr,
tshecyr,
kjecyr,
igravecyr,
ushortcyr,
dzhecyr,
Yatcyr,
yatcyr,
Yusbigcyr,
yusbigcyr,
Fitacyr,
fitacyr,
Izhitsacyr,
izhitsacyr,
Geupcyr,
geupcyr,
Gestrokecyr,
gestrokecyr,
Gehookcyr,
gehookcyr,
Zhetailcyr,
zhetailcyr,
Zetailcyr,
zetailcyr,
Katailcyr,
katailcyr,
Kaverticalstrokecyr,
kaverticalstrokecyr,
Kastrokecyr,
kastrokecyr,
Kabashkcyr,
kabashkcyr,
Entailcyr,
entailcyr,
Engecyr,
engecyr,
Pehookcyr,
pehookcyr,
Haabkhcyr,
haabkhcyr,
Estailcyr,
estailcyr,
Tetailcyr,
tetailcyr,
Ustraightcyr,
ustraightcyr,
Ustraightstrokecyr,
ustraightstrokecyr,
Xatailcyr,
xatailcyr,
Tetsecyr,
tetsecyr,
Chetailcyr,
chetailcyr,
Chevertcyr,
chevertcyr,
Shhacyr,
shhacyr,
Cheabkhcyr,
cheabkhcyr,
Cheabkhtailcyr,
cheabkhtailcyr,
Palochkacyr,
Zhebrevecyr,
zhebrevecyr,
palochkacyr,
Abrevecyr,
abrevecyr,
Adieresiscyr,
adieresiscyr,
Aiecyr,
aiecyr,
Iebrevecyr,
iebrevecyr,
Schwacyr,
schwacyr,
Zhedieresiscyr,
zhedieresiscyr,
Zedieresiscyr,
zedieresiscyr,
Dzeabkhcyr,
dzeabkhcyr,
Imacroncyr,
imacroncyr,
Idieresiscyr,
idieresiscyr,
Odieresiscyr,
odieresiscyr,
Obarcyr,
obarcyr,
Umacroncyr,
umacroncyr,
Udieresiscyr,
udieresiscyr,
Uacutedblcyr,
uacutedblcyr,
Chedieresiscyr,
chedieresiscyr,
Getailcyr,
getailcyr,
Ylongdieresiscyr,
ylongdieresiscyr,
Petailcyr,
petailcyr,
baht-thai,
Wgrave,
wgrave,
Wacute,
wacute,
Wdieresis,
wdieresis,
Germandbls,
Adotbelow,
adotbelow,
Ahoi,
ahoi,
Acircumflexacute,
acircumflexacute,
Acircumflexgrave,
acircumflexgrave,
Acircumflexhoi,
acircumflexhoi,
Acircumflextilde,
acircumflextilde,
Acircumflexdotbelow,
acircumflexdotbelow,
Abreveacute,
abreveacute,
Abrevegrave,
abrevegrave,
Abrevehoi,
abrevehoi,
Abrevetilde,
abrevetilde,
Abrevedotbelow,
abrevedotbelow,
Edotbelow,
edotbelow,
Ehoi,
ehoi,
Etilde,
etilde,
Ecircumflexacute,
ecircumflexacute,
Ecircumflexgrave,
ecircumflexgrave,
Ecircumflexhoi,
ecircumflexhoi,
Ecircumflextilde,
ecircumflextilde,
Ecircumflexdotbelow,
ecircumflexdotbelow,
Ihoi,
ihoi,
Idotbelow,
idotbelow,
Odotbelow,
odotbelow,
Ohoi,
ohoi,
Ocircumflexacute,
ocircumflexacute,
Ocircumflexgrave,
ocircumflexgrave,
Ocircumflexhoi,
ocircumflexhoi,
Ocircumflextilde,
ocircumflextilde,
Ocircumflexdotbelow,
ocircumflexdotbelow,
Ohornacute,
ohornacute,
Ohorngrave,
ohorngrave,
Ohornhoi,
ohornhoi,
Ohorntilde,
ohorntilde,
Ohorndotbelow,
ohorndotbelow,
Udotbelow,
udotbelow,
Uhoi,
uhoi,
Uhornacute,
uhornacute,
Uhorngrave,
uhorngrave,
Uhornhoi,
uhornhoi,
Uhorntilde,
uhorntilde,
Uhorndotbelow,
uhorndotbelow,
Ygrave,
ygrave,
Ydotbelow,
ydotbelow,
Yhoi,
yhoi,
Ytilde,
ytilde,
dieresisgrave,
dieresisacute,
enquad,
emquad,
enspace,
emspace,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
hyphen-gnrl,
nonbreakinghyphen,
figuredash,
endash,
emdash,
horizontalbar,
quoteleft,
quoteright,
quotesinglbase,
quotedblleft,
quotedblright,
quotedblbase,
dagger,
daggerdbl,
bullet,
ellipsis,
lineseparator,
paragraphseparator,
narrownobreakspace,
perthousand,
minute,
second,
guilsinglleft,
guilsinglright,
fraction,
zero.superior,
four.superior,
five.superior,
six.superior,
seven.superior,
eight.superior,
nine.superior,
zero.inferior,
one.inferior,
two.inferior,
three.inferior,
four.inferior,
five.inferior,
six.inferior,
seven.inferior,
eight.inferior,
nine.inferior,
colonmonetary,
lira,
naira,
rupee,
won,
newsheqel,
dong,
Euro,
kip,
tugrik,
peso,
guarani,
hryvnia,
cedi,
tenge,
indianrupee,
turkishlira,
ruble,
bitcoin,
litre,
numero,
trademark,
estimated,
oneseventh,
oneninth,
onethird,
twothirds,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
arrowleft,
arrowup,
arrowright,
arrowdown,
arrowboth,
arrowupdn,
arrowNW,
arrowNE,
arrowSE,
arrowSW,
arrowlefthook,
arrowrighthook,
arrowleftuptip,
arrowuprighttip,
arrowleftdowntip,
arrowrightdowntip,
arrowanticlockwisesemicircle,
arrowclockwisesemicircle,
arrowanticlockwiseopencircle,
arrowclockwiseopencircle,
rightarrowoverleftarrow,
leftarrowoverrightarrow,
partialdiff,
product,
summation,
minus,
divisionslash,
bulletoperator,
radical,
infinity,
integral,
ratio,
approxequal,
notequal,
lessequal,
greaterequal,
lozenge,
check,
crossMark,
rightTipDownArrow,
rightTipUpArrow,
leftArrowTipDown,
leftArrowTipUp,
uniECE0,
uniEFCC,
fi,
fl,
zerowidthnobreakspace,
replacementchar,
zero.alt01,
zero.alt02,
grave.case,
a.alt01,
g.alt01,
g.alt02,
dieresis.alt01,
dieresis.case,
macron.alt01,
macron.case,
acute.case,
germandbls.alt01,
agrave.alt01,
aacute.alt01,
acircumflex.alt01,
atilde.alt01,
adieresis.alt01,
aring.alt01,
amacron.alt01,
abreve.alt01,
aogonek.alt01,
gcircumflex.alt01,
gbreve.alt01,
gdotaccent.alt01,
gcommaaccent.alt01,
acaron.alt01,
aringacute.alt01,
circumflex.alt01,
circumflex.case,
caron.alt01,
caron.case,
breve.alt01,
breve.case,
dotaccent.case,
ring.case,
tilde.alt01,
tilde.alt01.case,
tilde.case,
hungarumlaut.case,
hookabovecomb.case,
tonos.case,
uni0394,
Delta.1,
uni03A9,
Omega.1,
uni03BC,
mu.1,
pi.1,
Yukrcyr.calt,
Yukrcyr.calt2,
Decyr.loclBGR,
Zhecyr.loclBGR,
Kacyr.loclBGR,
Elcyr.loclBGR,
Efcyr.loclBGR,
Yacyr.loclBGR,
acyr.alt01,
vecyr.loclBGR,
gecyr.loclBGR,
decyr.loclBGR,
zhecyr.loclBGR,
zecyr.loclBGR,
icyr.loclBGR,
ishortcyr.loclBGR,
kacyr.loclBGR,
elcyr.loclBGR,
pecyr.loclBGR,
tecyr.loclBGR,
efcyr.loclBGR,
tsecyr.loclBGR,
shacyr.loclBGR,
shchacyr.loclBGR,
hardcyr.loclBGR,
softcyr.loclBGR,
yucyr.loclBGR,
yacyr.loclBGR,
iukrcyr_yukrcyr.calt,
yukrcyr.calt,
yukrcyr.calt2,
igravecyr.loclBGR,
abrevecyr.alt01,
adieresiscyr.alt01,
adotbelow.alt01,
ahoi.alt01,
acircumflexacute.alt01,
acircumflexgrave.alt01,
acircumflexhoi.alt01,
acircumflextilde.alt01,
acircumflexdotbelow.alt01,
abreveacute.alt01,
abrevegrave.alt01,
abrevehoi.alt01,
abrevetilde.alt01,
abrevedotbelow.alt01,
dieresisgrave.case,
dieresisacute.case,
fraction.rvrn,
naira.rvrn,
won.rvrn,
IJacute,
Jacute,
breveacute,
brevegrave,
brevehook,
brevetilde,
circumflexacute,
circumflexbreve,
circumflexgrave,
circumflexhook,
circumflextilde,
dieresiscaron,
dieresismacron,
ijacute,
jacute,
ringacute,
ringacute.case,
breveacute.case,
brevegrave.case,
brevehook.case,
brevetilde.case,
dieresiscaron.case,
circumflexacute.case,
circumflexbreve.case,
circumflexgrave.case,
circumflexhook.case,
dieresismacron.case,
circumflextilde.case,
)
