<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ordn_sinf_subs_sups</key>
  <array>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
  <key>sinf</key>
  <array>
    <string>zeroinferior</string>
    <string>oneinferior</string>
    <string>twoinferior</string>
    <string>threeinferior</string>
    <string>fourinferior</string>
    <string>fiveinferior</string>
    <string>sixinferior</string>
    <string>seveninferior</string>
    <string>eightinferior</string>
    <string>nineinferior</string>
  </array>
  <key>subs</key>
  <array>
    <string>zero.subs</string>
    <string>one.subs</string>
    <string>two.subs</string>
    <string>three.subs</string>
    <string>four.subs</string>
    <string>five.subs</string>
    <string>six.subs</string>
    <string>seven.subs</string>
    <string>eight.subs</string>
    <string>nine.subs</string>
  </array>
  <key>sups</key>
  <array>
    <string>zero.sups</string>
    <string>one.sups</string>
    <string>two.sups</string>
    <string>three.sups</string>
    <string>four.sups</string>
    <string>five.sups</string>
    <string>six.sups</string>
    <string>seven.sups</string>
    <string>eight.sups</string>
    <string>nine.sups</string>
  </array>
</dict>
</plist>
